@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.projects {
	padding: 5rem 3rem;

	@include desktop {
		max-width: 80rem;
		margin: 4rem auto;
	}

	&__title {
		font-family: 'Rubik Mono One', sans-serif;
		font-size: 2rem;
		line-height: 1;
		@include underline;
	}
}

.slick-slide div {
	margin: 0 1rem;
}

.slick-prev:before,
.slick-next:before {
	color: #222 !important;
}

.slick-dots li button::before {
	color: #feb508 !important;
	font-size: 1rem !important;
	top: 2rem !important;
}

.card-container {
	margin: 5rem 0;
}

.card {
	display: flex;
	flex-direction: column;
	// border: solid 1px rgba(0, 0, 0, 0.2);

	&__imagen {
		max-width: 100%;
		padding: 1rem;
	}
}

.card__content {
	flex: 1;
	display: flex;
	flex-direction: column;
	padding: 1rem;
	align-items: flex-start;
	// background-color: rgba(0, 0, 0, 0.1);

	&--title {
		font-size: 1.5rem;
		margin-top: 12px;
	}

	&--paragraph {
		margin-top: 12px;
	}

	&--button {
		margin-top: 12px;
		padding: 8px 16px;
		background-color: #2f3439;
		color: #fff;
		border: none;
		cursor: pointer;
		margin-top: 1rem;
	}
}
