@use '../../styles/mixins' as *;
@use '../../styles/variables' as *;

.about {
	backdrop-filter: red;
	display: flex;
	flex-direction: column;
	height: auto;

	@include desktop-sm {
		display: grid;
		height: 800px;
		grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
		grid-template-rows: 1fr 1fr 1fr;
		grid-template-areas:
			'imagen imagen textos textos textos textos'
			'imagen imagen textos textos textos textos'
			'imagen imagen establecidos establecidos trayectoria trayectoria';
	}

	&__imagen {
		background-color: #222;
		grid-area: imagen;

		@include tablet {
			// height: 400px;
		}

		@include desktop-sm {
			height: auto;
		}

		@media screen and (max-width: 768px) {
			.about__imagen--desktop {
				display: none;
			}
		}

		@media screen and (min-width: 769px) {
			.about__imagen--mobile {
				display: none;
			}
		}
	}

	&__text {
		background-color: #f7f7f7;
		grid-area: textos;
		height: auto;
		padding: 5rem 2rem;
		font-family: 'Rubik', sans-serif;
		transition: all 0.3s ease;

		@include desktop-sm {
			padding: 3rem;
			height: 650px;
		}
		@include desktop {
			padding: 3rem;
		}

		@include desktop-xl {
			height: 700px;
			padding: 6rem;
		}

		&--title {
			font-size: 2rem;
			line-height: 1;
			font-size: $fs-170;
			font-family: 'Rubik Mono One', sans-serif;

			@include desktop-sm {
				padding: 0 2rem;
				margin-top: 1rem;
			}

			@include desktop {
				padding: 0 7rem;
				margin-top: 2rem;
			}

			@include desktop-xl {
				margin-top: 2rem;
			}
			@include underline;
		}

		&--paragraph {
			margin: 2rem 0 0;
			font-size: $fs-100;

			@include desktop {
				padding: 0 1rem;
			}

			@include desktop {
				padding: 0 7rem;
			}
		}
	}

	&__info {
		display: flex;
		background-color: aquamarine;
		text-align: center;
		display: flex;
		align-items: center;
		margin-top: 3rem;

		@include desktop {
			margin-top: 5rem;
		}

		&--years {
			flex: 1;
			background-color: #feb508;
			padding: 2rem 0;
			grid-area: establecidos;
			text-align: center;

			h3 {
				font-size: 2rem;
			}
		}

		&--projects {
			flex: 1;
			background-color: #222;
			padding: 2rem 0;
			grid-area: trayectoria;
			text-align: center;
			@include tablet {
				height: 150px;
			}
			h3 {
				color: #fff;
				font-size: 2rem;
			}

			p {
				color: #fff;
			}
		}
	}
}
