//Breakpoints
$mobile-breakpoint: 480px;
$tablet-breakpoint: 720px;
$desktop-breakpoint: 1280px;

//Primary Colors
$primary: #323232;
$primaryLight: #FFFFFF;
$primaryDark: #AFAFAF;
$primaryCta: #0095FF;

$secondary: #000000;
$secondaryLight: #FAFAFA;
$secondaryDark: #E1E1E1;
$secondaryCta: #0065AD;

//Font Size
$fs-075: 0.75rem;
$fs-080: 0.8rem;
$fs-085: 0.85rem;
$fs-090: 0.9rem;
$fs-100: 1rem;
$fs-110: 1.1rem;
$fs-120: 1.2rem;
$fs-150: 1.5rem;
$fs-200: 2rem;
$fs-250: 2.5rem;
$fs-350: 3.5rem;

//Weight
$fw-400: 400;
$fw-600: 600;
$fw-700: 700;